<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
    <httpRuntime maxRequestLength="52428834" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>

    <bindings>

      <netTcpBinding ><!---->
        <binding name="streamingNetTcpBinding" transferMode="Streamed" maxReceivedMessageSize="1223232323">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1000065536"
                         maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </netTcpBinding>
    </bindings>
    
    
    <services>
      <service name="ImageServicing.ImageService" behaviorConfiguration="service_behavior">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="streamingNetTcpBinding"
          name="streamingBinding" contract="ImageService.Contracts.IImageService" >
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8080/ImageService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="service_behavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="False"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>


  <appSettings>
    <add key="UploadFolder" value="Images"/>
    <add key="ImageSearchPattern" value=".jpg .png"/>
  </appSettings>


</configuration>